<nz-row class="container">
  <nz-col nzSpan="24">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel nzHeader="Thành viên"
                         style="background-color: white; padding-left: 0"
                         [nzActive]="memberCollapse">
        <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
          <nz-list-item *ngFor="let item of data">
            <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                               [nzTitle]="item.title">
            </nz-list-item-meta>

            <ul nz-list-item-actions>
              <nz-list-item-action>
                <a nz-button nzType="link" nzDanger>
                  <i nz-icon nzType="user-delete" nzTheme="outline"></i>
                </a>
              </nz-list-item-action>
            </ul>
          </nz-list-item>

          <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-col>

  <nz-col nzSpan="24" style="padding: 10px;">
    <button nz-button nzType="dashed"
            nzBlock nzDanger (click)="onConfirmDelete()">
      Xóa cuộc hội thoại
    </button>
  </nz-col>
</nz-row>
