<div class="site-page-header-ghost-wrapper">
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title>
      <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      Hồ Thị Quốc Vửng
    </nz-page-header-title>
    <nz-page-header-subtitle>
      <nz-badge nzStatus="success"></nz-badge>
      <span>online</span>
    </nz-page-header-subtitle>
    <nz-page-header-extra>
      <a nz-button nzType="link">
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      </a>
    </nz-page-header-extra>
  </nz-page-header>
</div>
