<nz-row>
  <nz-col nzSpan="24">
    <form nz-form autocomplete="off" [formGroup]="formGroup" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="nameGroup">Tên nhóm</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tên nhóm">
          <input nz-input id="nameGroup" type="text" formControlName="nameGroup" nzSize="large">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="nameGroup">Mô tả</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            id="description" formControlName="description" nzSize="large"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }">
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="private">
            <span>Cho phép người lạ tham gia vào nhóm</span>
          </label>
        </nz-form-control>
      </nz-form-item>

      <app-search-users [(usersSelected)]="usersSelected"></app-search-users>
    </form>
  </nz-col>
</nz-row>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onClose()">Hủy</button>
  <button nz-button nzType="primary"
          [disabled]="formGroup.invalid"
          (click)="onSubmit()">Tạo nhóm</button>
</div>
