<nz-row>
  <nz-col nzSpan="24">
    <form nz-form autocomplete="off" [formGroup]="formGroup" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="nameGroup">Tên nhóm</nz-form-label>
        <nz-form-control>
          <input nz-input id="nameGroup" type="text" formControlName="nameGroup">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="nameGroup">Mô tả</nz-form-label>
        <nz-form-control>
          <textarea
            nz-input
            id="description" formControlName="description"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }">
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="mention">Thành viên</nz-form-label>
        <nz-form-control nzErrorTip="More than one must be selected!">
          <nz-select id="users"
                     nzShowSearch
                     nzServerSearch
                     nzPlaceHolder="Nhập tên người dùng cần tìm ..."
                     nzMode="multiple"
                     nzAllowClear
                     nzNotFoundContent="Không tìm thấy người dùng"
                     formControlName="users"
                     nzAutoClearSearchValue
                     nzOptionHeightPx="120"
                     nzSize="default"
                     nzDropdownMatchSelectWidth
                     [nzLoading]="loading"
                     [(ngModel)]="selectedValue"
                     [nzShowArrow]="false"
                     [nzTokenSeparators]="[',']"
                     (nzOnSearch)="onSearchChange($event)">
            <nz-option *ngFor="let suggestion of suggestions"
                       [nzLabel]="suggestion?.fullName"
                       [nzValue]="suggestion?.userId" nzCustomContent>
              <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
              {{suggestion?.fullName}}
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row>
        <nz-form-control>
          <label nz-checkbox formControlName="private">
            <span>Cho phép người lạ tham gia vào nhóm</span>
          </label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-col>
</nz-row>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onClose()">Hủy</button>
  <button nz-button nzType="primary"
          [nzLoading]="loading"
          [disabled]="formGroup.invalid"
          (click)="onSubmit()">Tạo nhóm</button>
</div>
