<nz-row>
  <nz-col nzSpan="24" class="message-sidebar-header">
    <nz-row>
      <nz-col nzSpan="24">
        <nz-row>
          <nz-col nzSpan="12">
            <h2>Chat</h2>
          </nz-col>
          <nz-col nzSpan="12" style="text-align: right">
            <a nz-button nzType="link"
               nz-dropdown nzTrigger="click" [nzDropdownMenu]="setting"
               nz-tooltip nzTooltipPlacement="bottom" nzTooltipTitle="Cài đặt, trợ giúp, ..."
               nzTooltipTrigger="hover">
              <i nz-icon nzType="setting" nzTheme="outline"></i>
            </a>

            <nz-dropdown-menu #setting="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <nz-space [nzSize]="40">
                    <nz-space-item>
                      <span>Chế độ tối</span>
                    </nz-space-item>
                    <nz-space-item>
                      <nz-switch nzSize="small"></nz-switch>
                    </nz-space-item>
                  </nz-space>
                </li>
              </ul>
            </nz-dropdown-menu>

            <a nz-button nzType="link"
               *ngIf="isDoctor(currentUser?.role)"
               (click)="showModalCreateGroup()"
               nz-tooltip nzTooltipPlacement="bottom"
               nzTooltipTitle="Tạo nhóm mới" nzTooltipTrigger="hover">
              <i nz-icon nzType="form" nzTheme="outline"></i>
            </a>
          </nz-col>
        </nz-row>
      </nz-col>
      <nz-col nzSpan="24">
        <form nz-form>
          <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="default">
            <input type="text" nz-input placeholder="Tìm kiếm cuộc hội thoại ..."/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
        </form>
      </nz-col>
    </nz-row>
  </nz-col>

  <nz-col nzSpan="24">
    <div class="group-container">
      <nz-list nzItemLayout="horizontal"
               [nzLoading]="loading"
               [nzBordered]="false"
               [nzSplit]="false"
               nzNoResult="Bạn chưa có tin nhắn nào">
        <nz-list-item *ngFor="let group of groups"
                      class="group-item"
                      [ngClass]="isSelected(group.id) ? 'group-selected' : ''">
          <nz-list-item-meta [nzAvatar]="thumbnail"
                             [nzTitle]="group?.nameGroup"
                             [nzDescription]="group?.description"
                             style="cursor: pointer" (click)="onSelectGroup(group)">
            <ng-template #thumbnail>
              <nz-badge [nzCount]="5" [nzOverflowCount]="10">
                <nz-avatar nzIcon="team" style="background-color:#87d068"
                           [nzSrc]="isGroup(group.type) ? '' : group?.thumbnail">
                </nz-avatar>
              </nz-badge>
            </ng-template>
          </nz-list-item-meta>

          <ul nz-list-item-actions style="margin-top: -6px">
            <nz-list-item-action>
              <a nz-dropdown
                 class="group-item-menu"
                 nzTrigger="click"
                 [nzDropdownMenu]="menuGroup">
                <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 15px"></i>
              </a>

              <nz-dropdown-menu #menuGroup="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <a (click)="onDeleteGroup(group)"
                       nz-typography nzType="danger">
                      <nz-space>
                        <nz-space-item>
                          <i nz-icon  [nzType]="isOwner(group.owner) ? 'delete' : 'export'" nzTheme="outline"></i>
                        </nz-space-item>

                        <nz-space-item>
                          <span>{{isOwner(group.owner) ? 'Xóa nhóm' : 'Thoát nhóm'}}</span>
                        </nz-space-item>
                      </nz-space>
                    </a>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </nz-list-item-action>
          </ul>
        </nz-list-item>

        <nz-list-empty *ngIf="groups.length === 0"
                       [nzNoResult]="loading ? 'Đang lấy danh sách tin nhắn' : 'Bạn chưa có tin nhắn nào'">
        </nz-list-empty>
      </nz-list>
    </div>
  </nz-col>
</nz-row>
