.group-container
  height: 75vh
  padding: 10px 16px
  overflow-y: auto

.group-item
  padding: 16px 10px 6px 10px
  margin-left: -6px
  margin-right: -6px

.group-item:hover
  .group-item-menu
    display: inline-block

.group-item-menu
  display: none

.message-sidebar-header
  padding: 20px 16px 20px 16px

.group-selected
  border-radius: 10px
  background-color: #F1F0F0
  vertical-align: center
