<ng-template #messageTemplateRef let-message="message">
  <container-element [ngSwitch]="isOwner()">
    <nz-comment *ngSwitchCase="true"
                class="message">
      <nz-comment-content class="owner-message">
        <span>{{ message?.content }}</span>
      </nz-comment-content>
    </nz-comment>

    <nz-comment *ngSwitchDefault
                [nzAuthor]="message?.sender?.fullName"
                [nzDatetime]="formatDistanceTime(message?.createdAt)"
                class="message">
      <nz-avatar nz-comment-avatar nzIcon="user"
                 [style]="message?.sender?.avatar ? '' : 'background-color: ' + message?.sender?.color"
                 [nzSrc]="message?.sender?.avatar">
      </nz-avatar>

      <nz-comment-content class="receiver-message">
        <span>{{ message?.content }}</span>
      </nz-comment-content>

      <nz-comment-action>Trả lời</nz-comment-action>

      <ng-container *ngIf="message.children && message.children.length">
        <ng-template ngFor let-child [ngForOf]="message.children">
          <ng-template [ngTemplateOutlet]="messageTemplateRef" [ngTemplateOutletContext]="{ message: child }">
          </ng-template>
        </ng-template>
      </ng-container>
    </nz-comment>
  </container-element>
</ng-template>

<ng-container [ngTemplateOutlet]="messageTemplateRef"
              [ngTemplateOutletContext]="{ message: message }">
</ng-container>
