.message-container
  padding: 10px 16px
  height: 75vh
  overflow-y: auto
  overflow-x: hidden

.message-input-container
  padding: 5px

.rcorners1
  border-radius: 25px
  border: 2px solid #73AD21
  padding: 10px
  max-width: 300px
  background-color: #73AD21
  color: white

.rcorners2
  border-radius: 25px
  border: 2px solid #73AD21
  padding: 10px
  float: right
  background-color: #73AD21
  color: white

.ant-comment-inner
  padding: 0

.owner-message ul
  clear: right
  float: right
  text-align: right
