<ng-template #messageTemplateRef let-message="message">
  <nz-comment [nzAuthor]="message.title"
              [nzDatetime]="formatDistanceTime(message.createdAt)"
              style="width: 40vw">
    <nz-avatar nz-comment-avatar nzIcon="user"
               [nzSrc]="message?.sender?.avatar">
    </nz-avatar>

    <nz-comment-content>
      <p>{{ message.content }}</p>
    </nz-comment-content>

    <nz-comment-action>Trả lời</nz-comment-action>

    <ng-container *ngIf="message.children && message.children.length">
      <ng-template ngFor let-child [ngForOf]="message.children">
        <ng-template [ngTemplateOutlet]="messageTemplateRef"
                     [ngTemplateOutletContext]="{ message: child }">
        </ng-template>
      </ng-template>
    </ng-container>
  </nz-comment>
</ng-template>

<nz-row>
  <nz-col class="message-container" nzSpan="24">
    <div class="message-content" *ngFor="let message of messages">
      <ng-template [ngTemplateOutlet]="messageTemplateRef"
                   [ngTemplateOutletContext]="{ message: message }">
      </ng-template>
    </div>
  </nz-col>

  <nz-col class="message-input-container" nzSpan="24">
    <form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
      <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
        <input type="text" nz-input name="message" id="message" formControlName="message"
               placeholder="Nhập tin nhắn ..."/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <nz-space>
          <nz-space-item>
            <a nz-button nzType="link">
              <i nz-icon nzType="link" nzTheme="outline"></i>
            </a>
          </nz-space-item>
          <nz-space-item>
            <a nz-button nzType="link">
              <i nz-icon nzType="send" nzTheme="outline"></i>
            </a>
          </nz-space-item>
        </nz-space>
      </ng-template>
    </form>
  </nz-col>
</nz-row>
