<ng-template #messageTemplateRef let-message="message">
    <container-element [ngSwitch]="message.sender.userId == user.userId" 
        [style]="{'padding': '0px', 'margin': '0px'}">
        <nz-comment *ngSwitchCase="true"
            class="owner-message">
            <nz-comment-content class="rcorners2">
                <p>{{ message.content }} </p>
            </nz-comment-content>
          
            <nz-comment-action>
                <i nz-tooltip nzTitle="Like" nz-icon nzType="like" [nzTheme]="likes > 0 ? 'twotone' : 'outline'"
                    (click)="like()"></i>
                <span class="count like">{{ likes }}</span>
            </nz-comment-action>
            <nz-comment-action>
                <i nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"
                    [nzTheme]="dislikes > 0 ? 'twotone' : 'outline'" (click)="dislike()"></i>
                <span class="count dislike">{{ dislikes }}</span>
            </nz-comment-action>
            <nz-comment-action>Trả lời</nz-comment-action>
  
        </nz-comment>

        <nz-comment *ngSwitchDefault [nzAuthor]="getFirstname(message.sender)"
            [style]="{'padding': '0px 0px', 'margin': '0px'}" class="my-comment other-message">
            <!-- <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.avatar"></nz-avatar>          [style]="comment?.avatar ? '' : 'background-color: ' + getColor(member?.userId)" 
                         [nzSrc]="member?.avatar" -->
            <nz-avatar nz-comment-avatar [nzText]="getFirstname(message.sender)" nzIcon="user"></nz-avatar>
            <nz-comment-content class="rcorners1">
                <p>{{ message.content }}</p>
            </nz-comment-content>
            <nz-comment-action>
                <i nz-tooltip nzTitle="Like" nz-icon nzType="like" [nzTheme]="likes > 0 ? 'twotone' : 'outline'"
                    (click)="like()"></i>
                <span class="count like">{{ likes }}</span>
            </nz-comment-action>
            <nz-comment-action>
                <i nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"
                    [nzTheme]="dislikes > 0 ? 'twotone' : 'outline'" (click)="dislike()"></i>
                <span class="count dislike">{{ dislikes }}</span>
            </nz-comment-action>
            <nz-comment-action>Trả lời</nz-comment-action>
            <ng-container *ngIf="message.children && message.children.length">
                <ng-template ngFor let-child [ngForOf]="message.children">
                    <ng-template [ngTemplateOutlet]="messageTemplateRef" [ngTemplateOutletContext]="{ message: child }">
                    </ng-template>
                </ng-template>
            </ng-container>
        </nz-comment>
    </container-element>
</ng-template>

<!-- <ng-container [ngTemplateOutlet]="messageTemplateRef" [ngTemplateOutletContext]="{ message: messageInput}"> </ng-container> -->
<ng-container [ngTemplateOutlet]="messageTemplateRef" [ngTemplateOutletContext]="{ message: messageInput}"></ng-container>