<nz-row style="padding: 20px">
  <nz-col nzSpan="24">
    <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
      <nz-list-item *ngFor="let item of data">
        <nz-list-item-meta
          nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          [nzTitle]="item.title"
          nzDescription="Hello !!!" style="border-bottom: 1px solid lightgray">
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>
    </nz-list>
  </nz-col>
</nz-row>
