<div class="container">
  <nz-row class="wrapper" nzJustify="center">
    <nz-col nzSpan="23" class="text-center user-info">
      <nz-avatar nzIcon="team" style="background-color:#87d068;"
                 [nzSize]="128"
                 [nzSrc]="isGroup(groupSelected?.type) ? '' : groupSelected?.thumbnail">
      </nz-avatar>

      <h4 style="margin: 5px 0 0 28px;"
          nz-typography nzEditable
          [(nzContent)]="groupSelected.nameGroup"
          (nzContentChange)="onChangeGroupName()">
        {{groupSelected?.nameGroup}}
      </h4>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-collapse [nzBordered]="false" nzExpandIconPosition="right">
        <nz-collapse-panel nzHeader="Thành viên"
                           style="background-color: white; padding-left: 0"
                           [nzActive]="memberCollapse">
          <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
            <nz-list-header style="text-align: center; padding-top: 0">
              <a nz-button nzType="link" style="width: 100%" (click)="onOpenModalAddMember()">Thêm thành viên</a>
            </nz-list-header>

            <nz-list-item *ngFor="let member of members">
              <nz-list-item-meta [nzAvatar]="avatar"
                                 [nzTitle]="member?.fullName">
                <ng-template #avatar>
                  <nz-avatar [nzText]="member?.lastName" [nzSrc]="member?.avatar"></nz-avatar>
                </ng-template>
              </nz-list-item-meta>

              <ul nz-list-item-actions>
                <nz-list-item-action *ngIf="!checkOwner(member.userId)">
                  <a nz-button nzType="link" nzDanger
                     nz-popconfirm
                     [nzPopconfirmTitle]="'Bạn có chắc muốn xóa ' + member?.fullName + ' ra khỏi nhóm không ?'"
                     nzOkText="Đồng ý" nzCancelText="Hủy" (nzOnConfirm)="onDeleteUser(member?.userId)">
                    <i nz-icon nzType="user-delete" nzTheme="outline"></i>
                  </a>
                </nz-list-item-action>

                <nz-list-item-action *ngIf="checkOwner(member.userId)">
                  <a nz-button nzType="link">
                    <i nz-icon nzType="crown" nzTheme="outline"></i>
                  </a>
                </nz-list-item-action>
              </ul>
            </nz-list-item>

            <nz-list-empty *ngIf="members.length === 0"
                           [nzNoResult]="loading ? 'Đang lấy danh sách thành viên' : 'Chưa có thành viên nào'">
            </nz-list-empty>
          </nz-list>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-collapse [nzBordered]="false" nzExpandIconPosition="right">
        <nz-collapse-panel nzHeader="Tùy chọn"
                           style="background-color: white; padding-left: 0"
                           [nzActive]="optionsCollapse">
          <nz-list nzItemLayout="vertical">
            <a nz-button nzType="link" style="width: 100%"
               (click)="onConfirmDelete()">
              <nz-list-item>
                <span *ngIf="isOwner" nz-typography nzType="danger">Xóa hội thoại</span>
                <span *ngIf="!isOwner" nz-typography nzType="danger">Rời khỏi nhóm</span>
              </nz-list-item>
            </a>
          </nz-list>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-col>
  </nz-row>
</div>
