<div class="container">
  <div class="vertical-center">
    <div *ngIf="loading">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      <h4 nz-typography>Vui lòng đợi trong giây lát ...</h4>
    </div>

    <nz-result *ngIf="!loading && !authenticated"
               nzStatus="403" nzTitle="403"
               nzSubTitle="Sorry, you are not authorized to access this page.">
      <div nz-result-extra>
        <button nz-button nzType="primary">Back Home</button>
      </div>
    </nz-result>

    <nz-result *ngIf="!loading && authenticated"
               nzStatus="success"
               nzTitle="Đăng nhập thành công"
               nzSubTitle="Vui lòng đợi trong giây lát, đang chuyển hướng đến trang chủ ...">
    </nz-result>
  </div>
</div>
